# 曲库
作业2/static/Female Artists/*
作业2/static/Male Artists/*
作业3/Music Library 1/*
作业3/Music Library 2/*
作业3/static/Library 1/*
作业3/static/Library 2/*

# IDE文件
*/.idea/*
*/venv/*
*/__pycache__/*

# 测试用图片
作业4：图像数字水印/Image with Watermark.bmp
作业4：图像数字水印/Extracted Watermark.bmp

# 人物图片和作品图片
ProjectCrawler/头像/*
ProjectCrawler/作品图片/*

# 测试产生的文件
作业5：图像相似度评估/性能测试/*
作业5：图像相似度评估/运行日志/*
ProjectCrawler/数据备份/*
ProjectCrawler/PeopleInfo.json
ProjectCrawler/WorkInfo.json
ProjectCrawler/log.txt

# 爬虫
# ProjectCrawler/*

# 爬取到的数据
ProjectCrawler/爬取数据/*