# 曲库
作业2/static/Female Artists/*
作业2/static/Male Artists/*
作业3/Music Library 1/*
作业3/Music Library 2/*
作业3/static/Library 1/*
作业3/static/Library 2/*

# IDE文件
*/.idea/*
*/venv/*
*/__pycache__/*
# 作业3/.idea/*
# 作业3/venv/*
# 作业4：图像数字水印/.idea/*
# 作业4：图像数字水印/venv/*
# 作业5：图像相似度评估/.idea/*
# 作业5：图像相似度评估/venv/*

# 测试用图片
作业4：图像数字水印/Image with Watermark.bmp
作业4：图像数字水印/Extracted Watermark.bmp

作业5：图像相似度评估/性能测试/*
作业5：图像相似度评估/运行日志/*

# 分析用样例html文档，以及表定义
ProjectCrawler/样例文档/*
ProjectCrawler/表定义.docx
ProjectCrawler/$表定义.docx
ProjectCrawler/人物列表/*

# 爬虫相关
作业3/爬虫相关/*