# 曲库
作业2/static/Female Artists/*
作业2/static/Male Artists/*
作业3/Music Library 1/*
作业3/Music Library 2/*
作业3/static/Library 1/*
作业3/static/Library 2/*

# IDE文件
作业2/.idea/*
作业2/venv/*
作业3/.idea/*
作业3/venv/*
作业4：图像数字水印/.idea/*
作业4：图像数字水印/venv/*
